body{
    margin: 0px;
    padding: 0px;
    overflow:hidden;
}

#container{

    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,darkblue,lightblue);
}
.tank{
    
    position:absolute;
    width: 6vw;
    height: 50px;
    bottom: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid red;
}

.tank:nth-of-type(1){
    left: 20px;
    bottom: 20vh;
    background-image: url("../photos/tank1.png");
}

.tank:nth-of-type(2){
    width: 10vw;
    right: 200px;
    bottom: 20vh;
    background-image: url("../photos/tank2.png");
}

#ground{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 20vh;
    background-color: brown;
    bottom: 0px;
    background-image: linear-gradient(to bottom,rgb(44, 27, 4),rgb(104, 75, 14));

}

#fireball{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -50px;
    background-image: radial-gradient(yellow,red);
}

table{
    height: 10vh;
    width: 10vw;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border: 2px solid rgb(185, 32, 32);
    border-radius: 10px;
    padding: 5px;
}

td{
    font-size: 25px;
    color: white;
    border-radius: 10px;

}

#angle, #power{
    background-color: black;
    padding: 5px;
    text-align: center;
}

#outerHealth1, #outerHealth2{
    display: inline-block;
    position: absolute;
    top: 5vh;
    width: 15vw;
    height: 20px;
    border: 2px solid grey;
    position: absolute;
    border-radius: 10px;
    
}

#outerHealth1{
    float: left;
    left: 20px;
}

#outerHealth2{
    right: 20px;
}


#health1, #health2{
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

