body{
    margin: 0px;
    padding: 0px;
    overflow:hidden;
}

#container{

    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,darkblue,lightblue);
}
.tank{
    display: inline-block;
    position: absolute;
    width: 10vw;
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
}

.tank:nth-of-type(1){
    left: 20px;
    bottom: 8vh;
    background-image: url("../photos/tank1.png");
}

.tank:nth-of-type(2 ){
    right: 100px;
    bottom: 6vh;
    background-image: url("../photos/tank2.png");
}

#ground{
    /* z-index: 2; */
    position: absolute;
    width: 100%;
    height: 20vh;
    background-color: brown;
    bottom: 0px;
    background-image: linear-gradient(to bottom,rgb(44, 27, 4),rgb(104, 75, 14));

}

#fireball{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom:250px;
    left: 200px;
    background-image: radial-gradient(yellow,red);
}

table{
    height: 10vh;
    width: 10vw;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border: 2px solid rgb(185, 32, 32);
    border-radius: 10px;
    padding: 5px;
}

td{
    font-size: 25px;
    color: white;
    border-radius: 10px;

}

#angle, #power{
    background-color: black;
    padding: 5px;
    text-align: center;
}



