body{
    margin: 0px;
    padding: 0px;
    overflow:hidden;
}

#container{
    
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-image: url("../photos/bgimg.gif"); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(to bottom,darkblue,lightblue); */
}
#tank1, #tank2{
    
    position:absolute;
    width: 6vw;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
}

#tank1{
    left: 200px;
    bottom: 20vh;
    background-image: url("../photos/tank1.png");
}
#tank1 img{
    transform:rotateZ(0deg);
    transform-origin: 5px 22px;
    margin: 9px 0px 0px 62px;
}
#tank2{
    transform: scale(0.8);
    width: 10vw;
    right: 200px;
    bottom: 19vh;
    background-image: url("../photos/tank2.png");
}
#tank2 img{
    margin: 20px 0px 0px 0px;
    transform-origin: 5px 0px;
}
#ground{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 50vh;
    bottom: 0px;
    background-image: url("../photos/ground.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#fireball{
    z-index: 4;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -20px;
    left: 200px;
    background-image: radial-gradient(yellow,red);
}

table{
    position: absolute;
    height: 10vh;
    width: 10vw;
    bottom: 0px;
    margin: 0px 20px 10px 20px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.603);
}

td{
    font-size: 25px;
    color: white;
    border-radius: 10px;

}

#angle, #power{
    background-color: black;
    padding: 5px;
    text-align: center;
}

#outerHealth1, #outerHealth2{
    display: inline-block;
    position: absolute;
    top: 5vh;
    width: 15vw;
    height: 20px;
    border: 3px solid grey;
    position: absolute;
    /* border-radius: 10px; */
    
}

#outerHealth1{
    float: left;
    left: 20px;
}

#outerHealth2{
    right: 20px;
}


#health1, #health2{
    background-color: red;
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
}

#boom{
    position:absolute;
    display:inline-block;
    width: 6vw;
    height: 8vh;
    z-index: 4;
    top: -200px;
    background-image: url(../photos/fire.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#popup{
    z-index: 5;
    height: 70%;
    width: 50%;
    top: 15%;
    left: 25%;
    display: inline-block;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 2px solid white;
}

#pocketTank{
    width: 100%;
    height: 50%;
    margin-left: 7%;
    margin-top: 3%;
    position: absolute;
    background-image: url("../photos/ptanks_landing_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    
}

#playButton{
    padding: 10px;
    width: 200px;
    position: absolute;
    bottom: 80px;
    left: 35%;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    letter-spacing: 2px;
    background-color: rgb(96,0,153);
    border: 5px solid black;
}